:root {
    /* Primary Colors */
    --primary-red: hsla(0, 100%, 67%, .8);
    --primary-yellow: hsl(40, 100%, 56%, .8);
    --primary-green: hsl(166, 100%, 37%, .8);
    --primary-violet: hsl(234, 85%, 45%, .8);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral-lavender: hsl(241, 100%, 89%);
    --neutral-gray-dark: hsla(224, 82%, 58%, 0.15);

    --gradient-slate-blue: hsl(252, 100%, 67%);
    --gradient-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet: hsla(256, 72%, 46%, 1);
    --gradient-persian: hsla(241, 72%, 46%, 0);

    --font-family: 'Hanken Grotesk', sans-serif;

    --fw-regular-500: 500;
    --fw-bold-700:700;
    --fw-extra-800:800;

    --border-radius: 32px;
}
/* Reset CSS */
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/* General Settings */
body {
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--font-family);
    background-color: var(--neutral-blue);
}
main {
    margin: 0;
    padding: 0;
}
.main-content {
    --content-font-size: 1.125rem;
    --content-line-height: 1.438rem;
    --content-padding: 8px;
    
    display: grid;
    max-width: 550px;
    height: 100%;
    line-height: 1.303rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--fw-regular-500);
    background: var(--neutral-white);
    box-shadow: 0px 30px 60px var(--neutral-gray-dark);
}
@media (min-width: 550px){
    body {
        margin: 50px 0;
        place-items: center;
    }
    .main-content {
        --content-font-size: 1.125rem;
        --content-line-height: 1.438rem;
        --content-padding: 12px;

        grid-template-columns: 1fr 1fr;
        border-radius: 32px;
        max-width: 736px;
        max-height: 512px;
    }
}
/* Start left */
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--neutral-lavender);
    text-align: center;
    background: linear-gradient(180deg, var(--gradient-slate-blue), hsl(252, 100%, 63%) 0.01%, var(--gradient-royal-blue) 100%);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: var(--content-padding);
}
.result-title {
    font-weight: var(--fw-bold-700);
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    color: var(--neutral-lavender);
    padding: var(--content-padding);
}
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: linear-gradient(180deg, var(--gradient-violet) 0%, var(--gradient-persian) 100%, var(--gradient-persian) 100%);
    border-radius: 50%;
}
.result-score {
    font-weight: var(--fw-extra-800);
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: var(--neutral-white);
}
.total {
    font-weight: var(--fw-bold-700);
    color: var(--neutral-lavender);
    mix-blend-mode: normal;
    opacity: 0.52;
}
.result-reaction {
    font-weight: var(--fw-bold-700);
    font-size: 1.5rem;
    line-height: 1.953rem;
    color: var(--neutral-white);
}
.paragraph {
    font-weight: var(--fw-regular-500);
    max-width: 260px;
    padding-bottom: 22px;
}
@media (min-width:550px) {
    .left {
        gap: 12px;
        border-radius: var(--border-radius);
        justify-content: space-evenly;
    }
    .result-title {
        font-size: 1.5rem;
        line-height: 1.938rem;
        padding: var(--content-padding);
    }
    .circle {
        width: 200px;
        height: 200px;
    }
    .result-score {
        font-weight: var(--fw-extra-800);
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    .result-reaction {
        padding: var(--content-padding);
        font-size: 2rem;
        line-height: 2.625rem;
    }
    .paragraph {
        margin-bottom: 10px;
        font-size: var(--content-font-size);
        line-height: var(--content-line-height);
    }
}
/* End Left */
/* Start Right */
.right {
    display: grid;
    padding: 10px 40px;
}
.summary {
    font-weight: var(--fw-bold-700);
    font-size: 1.125rem;
    line-height: 1.466rem;
    color: #303B59;
    padding: 5px 0 15px;
}
.right-content {
    display: grid;
    gap: 15px;
}
.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: .2rem;
    height: 56px;
    border-radius: 12px;
    padding: var(--content-padding);
}
.gradient-red {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95)), hsl(0, 100%, 67%);
}
.gradient-yellow {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
}
.gradient-green {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
}
.gradient-violet {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
}
.red{
    color: var(--primary-red);
}
.yellow{
    color: var(--primary-yellow);
}
.green{
    color: var(--primary-green);
}
.violet{
    color: var(--primary-violet);
}
.bolt::before {
    display: inline-flex;
    padding: 5px 15px;
    content: "";
    background-image: url("/assets/images/icon-reaction.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.brain::before {
    display: inline-flex;
    padding: 5px 15px;
    content: "";
    background-image: url("/assets/images/icon-memory.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.comment::before {
    display: inline-flex;
    padding: 5px 15px;
    content: "";
    background-image: url("/assets/images/icon-verbal.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.eye::before {
    display: inline-flex;
    padding: 5px 15px;
    content: "";
    background-image: url("/assets/images/icon-visual.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.score {
    color: hsl(224, 30%, 27%);
    font-weight: var(--fw-regular-700);
}

.score::after {
    display: inline-flex;
    padding: 5px 5px;
    content: "/ 100";
    color: hsl(224, 30%, 27%);
    opacity: .5;
}
.btn {
    background: #303B59;
    border-radius: 128px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: var(--neutral-white);
    margin: 15px 0;
    Height: 56px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}
footer {
    min-height: 50px;
}
@media (min-width: 550px){
    .summary {
        font-size: 1.5rem;
        line-height: 1.938rem;
        margin-top: 10px;
        padding: 0;
    }
    .right-content {
        gap: 10px;
    }
    .result {
        padding: 0 12px;
        border-radius: 12px;
        font-size: var(--content-font-size);
        line-height: var(--content-line-height);
        width: 288px;
    }
    .btn {
        margin-top: 30px;
        width: 288px;
    }
}
/* End Right */