@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') 
    format('truetype');
}


:root {
    /* Primary Colors */
    --primary-red: 0, 100%, 67%;
    --primary-yellow: 40, 100%, 56%;
    --primary-green: 166, 100%, 37%;
    --primary-violet: 234, 85%, 45%;

    --neutral-white:0, 0%, 100%;
    --neutral-blue: 221, 100%, 96%;
    --neutral-lavender: 241, 100%, 89%;
    --neutral-gray-dark: 224, 30%, 27%;

    --secondary-slate-blue: 252, 100%, 67%;
    --secondary-royal-blue: 241, 81%, 54%;
    --secondary-violet: 256, 72%, 46%;
    --secondary-persian: 241, 72%, 46%;

    --gradient-primary: linear-gradient(
    hsl(var(--secondary-slate-blue)),
    hsl(var(--secondary-royal-blue))
    );

    --gradient-secondary: linear-gradient(
        hsl(var(--secondary-violet)),
        hsl(var(--secondary-persian), 0)
    );

    --font-family: 'Hanken Grotesk', sans-serif;

    --fw-regular-500: 500;
    --fw-bold-700:700;
    --fw-extra-800:800;

    --border-radius: 32px;
}
/* Reset CSS */
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/* General Settings */
body {
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--font-family);
}
.main-content {
    --content-font-size: 1.125rem;
    --content-line-height: 1.438rem;
    --content-padding: 12px;
    
    display: grid;
    max-width: 600px;
    height: 100%;
    line-height: 1.303rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--fw-regular-500);
    background: hsl(var(--neutral-white));
    box-shadow: 0px 30px 60px hsl(var(--neutral-gray-dark), .2);
}
@media (min-width: 600px){
    body {
        display: grid;
        min-height: 100vh;
        place-items: center;
        padding-top: 195px;
    }
    .main-content {
        --content-font-size: 1.125rem;
        --content-line-height: 1.438rem;
        --content-padding: 12px;

        grid-template-columns: 1fr 1fr;
        border-radius: 32px;
        max-width: 736px;
    }
}
/* Start left */
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: hsl(var(--neutral-lavender), 1);
    text-align: center;
    background: var(--gradient-primary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: var(--content-padding);
}
.section-title {
    font-weight: var(--fw-bold-700);
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    padding: 40px;
}
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: var(--gradient-secondary);
    border-radius: 50%;
}
.result-score {
    font-weight: var(--fw-extra-800);
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: hsl(var(--neutral-white));
}
.total {
    font-weight: var(--fw-bold-700);
    mix-blend-mode: normal;
    opacity: 0.52;
}
.result-reaction {
    font-weight: var(--fw-bold-700);
    font-size: 1.5rem;
    line-height: 1.953rem;
    color: hsl(var(--neutral-white));
}
.paragraph {
    font-weight: var(--fw-regular-500);
    max-width: 260px;
    padding-bottom: 22px;
}
@media (min-width:600px) {
    .left {
        gap: 15px;
        border-radius: var(--border-radius);
        justify-content: space-evenly;
    }
    .section-title {
        font-size: 1.5rem;
        line-height: 1.938rem;
        padding: 10px var(--content-padding);
        padding-top: 30px;
    }
    .circle {
        width: 200px;
        height: 200px;
    }
    .result-score {
        font-weight: var(--fw-extra-800);
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    .result-reaction {
        padding: var(--content-padding);
        font-size: 2rem;
        line-height: 2.625rem;
    }
    .paragraph {
        margin-bottom: 10px;
        font-size: var(--content-font-size);
        line-height: var(--content-line-height);
    }
}
/* End Left */
/* Start Right */
.right {
    display: grid;
    padding: 10px 40px;
    font-size: var(--content-font-size);
}
.summary {
    color: hsl(var(--neutral-gray-dark));
}
.right-content {
    display: grid;
    gap: 15px;
}
.flex-group {
    display: flex;
    gap: 10px;
    align-items: center;
}
.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.466rem;
    height: 56px;
    border-radius: 12px;
    border: 0;
    padding: var(--content-padding);
}
.gradient-red {
    background: hsl(var(--primary-red), .1);
}
.gradient-yellow {
    background: hsl(var(--primary-yellow), .1);
}
.gradient-green {
    background: hsl(var(--primary-green), .1);
}
.gradient-violet {
    background: hsl(var(--primary-violet), .1);
}
.title {
    font-weight: var(--fw-regular-500);
}
.red{
    color: hsl(var(--primary-red), 1);
}
.yellow{
    color: hsl(var(--primary-yellow), 1);
}
.green{
    color: hsl(var(--primary-green), 1);
}
.violet{
    color: hsl(var(--primary-violet), 1);
}
.score {
    color: hsl(var(--neutral-gray-dark));
    font-weight: var(--fw-regular-700);
}
.score::after {
    display: inline-flex;
    padding: 5px 5px;
    content: "/ 100";
    color: hsl(var(--neutral-gray-dark));
    opacity: .5;
}
.btn {
    background: hsl(var(--neutral-gray-dark));
    border-radius: 128px;
    font-style: normal;
    font-weight: var(--fw-bold-700);
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: hsl(var(--neutral-white));
    margin: 15px 0;
    line-height: 1;
    border: 0;
    Height: 56px;
    cursor: pointer;
}

.btn:hover {
    background: var(--gradient-primary);
}
footer {
    min-height: 50px;
}
@media (min-width: 600px){
    .right-content {
        gap: 10px;
    }
    .result {
        padding: 0 12px;
        border-radius: 12px;
        font-size: var(--content-font-size);
        line-height: var(--content-line-height);
        width: 288px;
    }
    .btn {
        margin-top: 30px;
        width: 288px;
    }
}
/* End Right */